ul {
  list-style-type: none;
  margin: 0 20%;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 17px;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(255, 255, 255);
}
#foot {
  width: 100%;
}
#space {
  background: white;
  width: 100%;
  height: 360px;
}
#photoG {
  width: 30%;
  height: 40%;
  background: black;
  margin-top: 20%;
}

#cyr {
  margin:20px;
  padding: -20%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  box-sizing: border-box;
  display: block;
  float: left;
  width: 20%;
  height: 30%;
  margin-right: 10px;
  margin-bottom: -23px;
  font-size: 2.4rem;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #000;
}

/* ///// */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.leftcolumn {
  float: left;
  width: 65%;
}
#photos {
  margin-top: -17%;
}
.wholeProject {
  margin-top: -10%;
  margin-right: 50%;
  float: right;
  position: right;
  width: 50%;

}
* {
  box-sizing: border-box;
}
/* Right column */
.rightcolumn {
  float: left;
  width: 35%;
  padding-left: 20px;
  margin-bottom: 10%;
}

/* //////////// */
.images {
  margin-left: 235px;
  margin-top: -256px;

  width: 50px;
}

.text {
  margin-left: 173px;
  font-family: arial;
  font-weight: normal;
  font-size: 20px;
}

.hr {
  margin-left: 173px;
  width: 52%;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.151);
  border-bottom: px solid rgba(255, 255, 255, 0.3);
}

#pic1 {
  width: 164px;
  margin-left: 173px;
  margin-top: 7px;
  cursor: pointer;
}

#pic2 {
  width: 164px;
  margin-top: 7px;
  margin-left: 13px;
  cursor: pointer;
}

#pic3 {
  width: 164px;
  margin-top: 7px;
  margin-left: 13px;
  cursor: pointer;
}

#pic4 {
  width: 164px;
  margin-top: 7px;
  margin-left: 13px;
  cursor: pointer;
}

#pic5 {
  width: 164px;
  margin-top: 7px;
  margin-left: 13px;
  cursor: pointer;
}

.description {
  font-size: 14px;
  margin-left: 173px;
  font-weight: normal;
  font-family: arial;
  color: rgba(0, 0, 0, 0.603);
  float: left;
}

.text222 {
  font-size: 14px;
  margin-left: 17px;
  font-weight: normal;
  font-family: arial;
  color: rgba(0, 0, 0, 0.603);
  float: left;
}

#side {
  width: 65px;
  margin-left: 165px;
  margin-top: 210px;
  cursor: pointer;
}

#side2 {
  width: 65px;
  margin-left: 165px;
  margin-top: 0px;
  cursor: pointer;
}

#side3 {
  width: 65px;
  margin-left: 165px;
  margin-top: 0px;
  cursor: pointer;
}
#enna {
  color: red;
 
}
#photoBar {
  width: 50%;
}




/* #sspan {
  display: inline-block;
  font-size: 36px;
  width: 20%;
  height: 85%;
  /* margin: 10px; */
  /* border: 1px solid black; */
  /* margin-bottom: 40%; */
} */
.row2{
  content: "";
  display: table;
  clear: both;
  margin: 40%;
}
.column {
  margin-bottom: 40%;
  margin: 15px;
  border: 0.1px solid rgb(202, 202, 202);
  float: left;
  font-size: 31px;
  width: 25%;
  padding: 10px;
  height: 300px; 
  margin-bottom: 10%;

}
._1AJjL{

text-align: left;
direction: ltr;
font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
font-size: inherit;
box-sizing: border-box;
position: absolute;
bottom: 91px;
left: 25%;
width: 32px;
height: 21px;
display: block;
}
#sspann {
  width: 80%;
  display: inline-block;
}
#forSpan {
  margin-bottom: 0px;
  margin-top: 120px;
  width: 30%;
  height: 20%;
}
#wasHelp {
  margin-left: 30%;
  height: 10%;
  width: 30%;
}
#nameItem{
  font-size: 26px;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;

}
.wholeProject
    {
      float: right; 
      position: right;
      margin-top: -4%;
      width: 100%;
      margin-right: 20px;
    
    }
    .nameSection{
      font-family: sans-serif;
      font-size: 30px;
      font-weight: 40px;
      font-style:normal;
      
      }
      
      
      .shBut{
          padding: 0;
          border: none;
          background: none;
      }
      
      .proB {
        padding: 0;
        border: none;
        background: none;

       }
      
       .sizeBu {
        padding: 0;
        border: none;
        background: none;
       }
       .avilBut{
        padding: 0;
        border: none;
        background: none;
      
       }
       .Re{
        padding: 0;
        border: none;
        background: none;
      
       }
      
       .ta{
        padding: 0;
        border: none;
        background: none;
      
       }
      
      
       .bag{
        background-position: -1px 50%;
        width: 100%;
        padding: 40;
        height:60px;
        font-size: 20px;
        background: #d1d0d0;
        border: none;
       }
       #allrev{
         padding: 100px;
         width: 100%;
       }
       #sty {
        font-size: 30px;
        width: 100%;
        font-family: Lucida Sans Unicode;
      }
      #mine{
        padding-top:40% ;
      }
      #spancenter{
        display: inline-block;
      
      }
      #rec{
        float: right;
        margin-left: 300px;
        font-size: 20px;
        font-family: Arial,Helvetica Neue,Helvetica,sans-serif;


      }
      #numofrev{
        float: left;
        margin-left: 80PX;
        font-size: 20px;
        font-family: Arial,Helvetica Neue,Helvetica,sans-serif;


        
      }
      #imgspan{
        margin-left: 300PX;
      }
      #more{
        margin-left: 45%;
          color: rgb(13, 7, 90);
        
      }
      #writecomm{
        color: rgb(13, 7, 90);
        margin-left: 80%;
      }
      #head{
        width: 100%;
      }
#itemname{
color: #000;
text-align: left;
font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
font-weight: 300;
text-transform: capitalize;
margin-top: 3rem;
line-height: 3rem;
box-sizing: border-box;
font-size: 30px;
}
.price{
  text-align: left;
font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
font-weight: 400;
text-transform: none;
box-sizing: border-box;
font-size: 30px;
}
#revstart{
  font-size: 19px;
  margin-left: 300px;
}
#imgcolor{
  height: 90px;
}
#imgcolor2{
  height: 150px;
}
#ancorsidebar{
  color: black;
}
.check{
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  color: rgb(47, 45, 153);
}



#changerstore{
  color:black;
  margin-left: 200px ;
}
.giftLink{
  color: rgb(17, 8, 58);
}